<div id="compose">
  <div id="compose-notifications" class="notifications above-composebox">
  </div>
  <div id="compose-container">
    <div class="message_comp compose-content">
      <div class="alert" id="send-status">
        <span class="send-status-close">&times;</span>
        <span id="error-msg"></span>
      </div>
      <div  id="compose_invite_users" class="alert home-error-bar"></div>
      <div  id="compose-all-everyone" class="alert home-error-bar"></div>
      <div  id="out-of-view-notification" class="notification-alert"></div>
     <div class="composition-area">
      <button type="button" class="close" id='compose_close' title="{{ _('Cancel compose') }} (Esc)">&times;</button>
      <form id="send_message_form" action="/json/messages" method="post">
        {{ csrf_input }}
        <table class="compose_table">
          <tbody>
            <tr class="ztable_layout_row">
              <td class="ztable_comp_col1" />
              <td class="ztable_comp_col2" />
            </tr>
<!-- Recipient list. Keeping this code for now, because it has a neat autocomplete feature that may be useful
     in search. -->
            <tr id="private-message" style="display:none">
              <td class="message_header_colorblock message_header_private_message message_header left_part">

              </td>
              <td class="right_part">
                <div class="pm_recipient">
                <span class="you_text">{{ _('You and') }}</span>
                <input type="text" class="recipient_box" name="recipient" id="private_message_recipient"
                               value="" placeholder="{{ _('one or more people...') }}" autocomplete="off" tabindex="0"/>
                </div>
              </td>
            </tr>
            <tr>
              <td class="messagebox" colspan="2">
                <textarea class="new_message_textarea" name="content" id="new_message_content" rows="1"
                          value="" placeholder="{{ _('Compose your message here...') }}" tabindex="0" maxlength="10000" aria-label="{{ _('Compose your message here...') }}"></textarea>
<!-- Preview HTMl. Keeping this code to help to support image previews right in the chat box.
                <div class="scrolling_list" id="preview_message_area" style="display:none;">
                  <div id="markdown_preview_spinner"></div>
                  <div id="preview_content"></div>
                </div>
-->
                <div class="drag"></div>
                <div id="attach-button">
                  <input type="file" id="file_input" class="notvisible pull-left" multiple />
                  <!-- Emoji link. Someday we'll bring this back :)
                  <a class="message-control-button icon-vector-smile"
                        id="emoji_map" href="#" title="{{ _('Add emoji') }}"></a> -->
                  <a class="message-control-button icon-vector-paper-clip notdisplayed"
                     id="attach_files" href="#" title="{{ _('Attach files') }}"></a>
                  <span id="sending-indicator">{{ _('Sending...') }}</span>
<!-- Checkbox setting whether pressing enter sends automatically. The code may be interesting as it sets a
    user-level server setting.
                  <div id="send_controls" class="new-style">
                    <label id="enter-sends-label" class="compose_checkbox_label" for="enter_sends">{{ _('Press Enter to send') }}&nbsp;</label>
                    <input type="checkbox" id="enter_sends" name="enter_sends" value="enter_sends" />
                    <button type="submit" id="compose-send-button" class="button small send_message" tabindex="150" title="{{ _('Send') }} (Ctrl + Enter)">{{ _('Send') }}</button>
                  </div> -->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
     </div>
    </div>
  </div>
</div>
