          <div class="left-sidebar" id="left-sidebar">
              <div class="bottom_sidebar">
                      <ul id="global_filters" class="filters">
                          {# Special-case this link so we don't actually go to page top. #}
<!--                         Keeping this home link around just for reference. -->
                          <li data-name="home"
                          class="global-filter active-filter home-link"><span class="filter-icon"><i class="icon-vector-home"></i></span><a href="#">{{ _('Home') }} <span class="count"><span class="value"></span></span></a></li>
                      </ul>
                      <div id="streams_list" class="zoom-out">
                        <div id="streams_header" class="zoom-in-hide">
<!--                           TODO: Insert - or + icon here -->
                          <h4 class="sidebar-title" data-toggle="tooltip" title="{{ _('Subscribed streams') }}">
                            <a href="">{{ _('Assignments') }}</a>
                          </h4>
                          <a href="" id="join_unsub_stream">
                              <i class="icon-vector-plus" title="{{ _('Join stream')}}"></i>
                          </a>
                          <a href="#streams">
                            <i id="streams_inline_pip" class='icon-vector-circle' data-toggle="tooltip" title="{{ _('Subscribe, add, or configure streams') }}"></i>
                          </a>
                        </div>
<!--                         TODO: This topics_header element can probably be removed -->
                        <div id="topics_header">
                          <div class="all-streams-padding">
                            <ul class="filters">
                              <li data-name="all-streams">
                                <i class="icon-vector-chevron-left"></i> <a href="" class="show-all-streams">{{ _('All streams') }}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        
                        <div id="streams_header" class="zoom-in-hide">
<!--                           TODO: Insert - or + icon here -->
                          <h4 class="sidebar-title" data-toggle="tooltip" title="{{ _('Subscribed streams') }}">
                            <a href="">{{ _('My Patients') }}</a>
                          </h4>
                          <a href="" id="join_unsub_stream">
                              <i class="icon-vector-plus" title="{{ _('Join stream')}}"></i>
                          </a>
                          <a href="#streams">
                            <i id="streams_inline_pip" class='icon-vector-circle' data-toggle="tooltip" title="{{ _('Subscribe, add, or configure streams') }}"></i>
                          </a>
                        </div>
                        
                        <div id="stream-filters-container" class="scrolling_list">
                            <input class="stream-list-filter notdisplayed" type="text" placeholder="{{ _('Search streams') }}" />
                           <ul id="stream_filters" class="filters"></ul>
                        </div>
                      </div>
              </div>
          </div>
