<div class="header">
  <!-- Test comment -->
<nav class="header-main rightside-userlist" id="top_navbar">
  <div class="column-left">
    <div class="top-left-inner">
      <a class="brand-area" href="#">
        <img src="/static/images/logo/logo-white-128x128.png" class="nav-logo no-drag"/>
        <div class="company-name">
            SparkMD
        </div>
      </a>
      <ul class="nav" role="navigation" id="profile_settings_icon">
              <li class="dropdown actual-dropdown-menu active" id="gear-menu">
                <a id="settings-dropdown" href="#" role="button" class="dropdown-toggle" data-target="nada" data-toggle="dropdown" title="Menu (g)">
                  <i class="icon-vector-cog"></i><i class="icon-vector-caret-down settings-dropdown-caret"></i>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="settings-dropdown">
                  
                  <li class="invisible active" style="display:none;" role="presentation"><a href="#home" data-toggle="tab"></a></li>
                  <li role="presentation">
                    <a href="#streams" role="menuitem">
                      <i class="icon-vector-exchange"></i> Manage streams
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#settings" role="menuitem">
                      <i class="icon-vector-wrench"></i> Settings
                    </a>
                  </li>
                  <li class="admin-menu-item" role="presentation">
                    <a href="#organization" role="menuitem">
                      <i class="icon-vector-bolt"></i>
                      <span>Organization settings</span>
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="/help" target="_blank" role="menuitem">
                      <i class="icon-vector-question-sign"></i> User documentation
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="/stats" target="_blank" role="menuitem">
                      <i class="icon-vector-bar-chart"></i>
                      <span>Statistics</span>
                    </a>
                  </li>                  
                  <li role="presentation">
                    <a href="#invite" role="menuitem">
                      <i class="icon-vector-plus-sign"></i> Invite users
                    </a>
                  </li>
                  <li class="divider" role="presentation"></li>
                  
                  
                  <li role="presentation">
                    <a href="#logout" class="logout_button" role="menuitem">
                      <i class="icon-vector-off"></i> Log out
                    </a>
                  </li>
                  
                </ul>
              </li>
            </ul>
      <div class="row profile" id="current_user_nav">
        <!-- current_user_nav here -->
      </div>
    </div>
  </div>
  <div class="column-middle" id="navbar-middle">
    <div class="column-middle-inner">
      <div id="right-nav-box">
      </div>
          <!-- Chat searchbox. We'll want chat search functionality later on in some form.
          <div id="searchbox" class="searchbox-rightmargin">
            <div id="tab_bar" class="notdisplayed">
            </div>
            <form id="searchbox_form" class="form-search navbar-search">
              <div id="search_arrows" class="input-append">
                <input class="search-query input-block-level" id="search_query" type="text" placeholder="{{ _('Search') }}"
                       autocomplete="off" aria-label="{{ _('Search') }}" title="{{ _('Search') }} (/)"/>
                {# Start the button off disabled since there is no active search #}
                <button class="btn search_button" type="button" id="search_exit" disabled="disabled" aria-label="{{ _('Exit search') }}"><i class="icon-vector-remove"></i></button>
                <a class="search_icon" href="#search-operators" data-overlay-trigger="search-operators" title="{{ _('Search help') }}"><i class="icon-vector-search"></i></a>
              </div>
            </form>
          </div>{# /searchbox #} -->
    </div>
  </div>
</nav>
</div>
