<div id="right-nav-left-side">
<!-- Template for a 1:1 chat -->
  <img src="/static/images/example_nurse.png" class="right-nav-photo"/>
  <div class="private-chat-nav-name-container">
    <div class="private-chat-nav-name">{{name}}</div>
    <div class="private-chat-nav-role">Critical Care Unit - Charge Nurse</div>
  </div>
</div>
<div class="right-nav-right-side"><a href="#">
    <div class="right-nav-block-full-height">
        <i class="icon-vector-user" id="right-nav-icon"></i>
        <p class="right-nav-right-label">Group</p>
    </div>
</div>
</div>
